}
.produto p {
    font-size: 1em;
}
.produto .preco {
    color: #e67e22;
    font-weight: bold;
}
/* Rodapé */
footer {
    background-color: #2c3e50;
    color: #fff;
    text-align: center;
    padding: 20px 0;
    margin-top: 40px;
}
/* Responsividade */
@media (max-width: 768px) {
    .container {
        width: 95%;
    }
    
    header .container {
        flex-direction: column;
    }
    
    header nav ul {
        flex-direction: column;
        margin-top: 10px;
    }
    
    header nav ul li {
        margin: 5px 0;
    }
}